.pet {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 8px solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 7px rgba(0, 0, 0, .3);
}

.pet>img {
  height: inherit;
  width: inherit;
  border-radius: 50%;
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  /*height: 100px;
  width: 100px;*/
}

.green {
  border: 8px solid #b3ff66;
}

.red {
  border: 8px solid #ff6666;
}

.yellow {
  border: 8px solid #ffff4d;
}
